@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

$break-small: 320px;
$break-medium: 480px;
$break-large: 768px;

@mixin respond-to($media) {
    @if $media == handhelds {
        @media only screen and (max-width: #{$break-small - 1}) { @content; }
    }
    @else if $media == ex-small-screens {
        @media only screen and (min-width: #{$break-small}) and (max-width: #{$break-medium - 1}) { @content; }
    }
    @else if $media == small-screens {
        @media only screen and (min-width: #{$break-medium}) and (max-width: #{$break-large - 1}) { @content; }
    }
}

body {
    font-family: 'Open Sans', sans-serif;

    .text-red {
        color: #c42c29;
    }

    .text-blue {
        color: #10578a;
    }

    .text-yellow {
        color: #f3b717;
    }

    .text-light-yellow {
        color: #fed175;
    }

    .text-white {
        color: #ffffff;
    }

    .text-size-48 {
        font-size: 48px;
    }

    .text-size-30 {
        font-size: 30px;
    }

    .text-size-22 {
        font-size: 22px;
    }

    .text-size-16 {
        font-size: 16px;
    }

    .text-size-12 {
        font-size: 16px;
    }

    .display-table {
        display: table;
    }

    .display-table-cell {
        display: table-cell;
    }

    .vertical-middle {
        vertical-align: middle;
    }

    .margin-10-0 {
        margin: 10px 0;
    }

    .padding-10-10 {
        padding: 10px 10px;
    }

    .header-div {
        .navbar-header {
            .logo-div {
                height: 80px;
                line-height: 80px;

                span {
                    color: #10578a;
                    font-size: 18px;
                }
            }
        }

        .header-nav {
            font-size: 12px;
            float: right;
            line-height: 40px;
            
            @include respond-to(small-screens) {
                float: left;
            }

            span {
                padding: 10px 5px;
            }
        }

        .navbar-form {
            float: right !important;
            
            @include respond-to(small-screens) {
                float: left !important;
            }
        }
    }

    .main-div {
        margin-top: 20px;

        .content-div {
            #section-1 {                
                .sub-title {
                    font-weight: bold;
                }

                .full-img {
                    width: 100%;
                    height: auto;
                }
            }

            #section-2 {
                height: 150px;

                .main-gadget-1 {
                    background-color: #faeee4;
                    margin: 15px 0;
                    padding: 5px 0 5px 15px;

                    .pan-img {
                        position: relative;
                        top: -115px;
                        float: right;
                    }
                }
            }

            #section-3 {
                .inspired-div {
                    background-image: url('../images/inspired_bg.png');
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 15px;

                    .header-wrapper {
                        overflow: hidden;
                        position: relative;

                        &:before {
                            content: ' ';
                            width: 36%;
                            position: absolute;
                            height: 1px;
                            background: #f3b717;
                            top: 22px;
                            margin-left: calc(-40% - 10px);
            
                            @include respond-to(ex-small-screens) {
                                display: none;
                            }
            
                            @include respond-to(small-screens) {
                                width: 35%;
                            }
                        }

                        &:after {
                            content: ' ';
                            width: 50%;
                            position: absolute;
                            height: 1px;
                            background: #f3b717;
                            top: 22px;
                            margin-left: 40px;
            
                            @include respond-to(ex-small-screens) {
                                display: none;
                            }
                        }
                    }
                }
            }

            #section-4 {
                margin-bottom: 15px;

                .full-img {
                    width: 100%;
                    height: auto;
                    margin-top: 15px;
                    margin-bottom: 5px;
                }

                span {
                    color: #10578a;
                    text-decoration: underline;
                }
            }

            #section-5 {
                margin-bottom: 15px;
                
                .main-gadget-2 {
                    background-color: #faeee4;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            #section-6 {
                margin-bottom: 15px;

                .modern-div {
                    background-image: url('../images/inspired_bg.png');
                    padding-top: 10px;
                    padding-bottom: 10px;
                    margin-bottom: 15px;
                }
            }

            #section-7 {
                margin-bottom: 15px;

                .detail-div {
                    overflow: auto;

                    .detail-table {
                        padding: 5px;
                        width: 100%;

                        thead {
                            background-color: #fcce39;
                        }

                        td {
                            border-right: 1px solid gray;
                            border-bottom: 1px solid #faeee4;
                            padding: 5px;
                        }

                        td:last-child {
                            border-right: 0px;
                        }

                        .odd-row {
                            background-color: #faeee4;
                        }
                    }
                }
            }

            #section-8 {
                margin-bottom: 15px;

                .main-gadget-3 {
                    background-color: #d7deea;
                    width: 100%;

                    .shadow-img {
                        box-shadow: 1px 2px 2px 1px grey, 2px 3px 3px 0 grey;
                        margin-top: -5px;
                        margin-bottom: -5px;
                    }
                }
            }

            #section-9 {
                .sightning-div {
                    background-image: url('../images/inspired_bg.png');
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
            }

            #section-10 {
                margin-bottom: 15px;

                .odd-row {
                    background-color: #ffe389;
                }

                .showcase-div {
                    float: none;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
        }
    }
}
